# Archivos y carpetas generados por Visual Studio y .NET

## Directorios de compilación
[Bb]in/
[Oo]bj/
build/

## Directorios específicos de usuario
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Directorios y archivos de configuración de Visual Studio Code
.vscode/

## Archivos de respaldo y temporales
*.cache
*.log
*.bak
*.backup

## Archivos de bases de datos locales (opcional)
*.mdf
*.ldf

## Archivos de prueba de MSTest
TestResults/

## Archivos de NuGet
.nuget/
# Evita versionar la carpeta packages si se usa PackageReference en el proyecto
packages/

## Archivos generados por Rider (JetBrains)
.idea/
*.sln.iml

## Archivos de publicación
publish/

## Otros archivos de configuración o temporales
*.dbmdl
